body {
  font-family: Arial;
  text-align: center;
  background: #f4f6f8;
}

.box {
  margin: 20px;
}

button {
  padding: 10px 20px;
  font-size: 16px;
  background: #4CAF50;
  color: white;
  border: none;
  cursor: pointer;
}

#viewer img {
  max-width: 90%;
  margin-top: 20px;
  border: 2px solid #ccc;
}
